
# Build output
# Dependencies
# Editor
# Electron
# Environment
# IDE
# Logs
# OS
# PyInstaller
# SQLite
*$py.class
*.asar
*.bakbackend/data/
*.db
*.dll
*.egg
*.egg-info/
*.exe
*.log
*.manifest
*.pdb
*.py[cod]
*.pyd
*.so
*.sqlite
*.sqlite-journal
*.swo
*.swp
*.tmp
*.whl
*~
.DS_Store
.Python
.env
.env.*.json
.env.*.local
.env.local
.idea/
.venv/
.vscode/
Thumbs.db
__pycache__/
backend/data/
build/
dist-electron/
dist/
env/
logs/
node_modules/
npm-debug.log*
release/
venv/
yarn-debug.log*
yarn-error.log*

# self-hosted GitHub Actions runner
actions-runner/
actions-runner-arm64/
.vercel
